.dash_side{
    /* align-items: left;
    justify-content: left;
    min-width:20vw;
    min-height: 100vh; */
    flex-shrink: 0;
}
.dash_design{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: rgb(7, 28, 83);
    /* min-height: 100vh; */
    /* height: fit-content; */
}
.dash_tx{
    background-color: #979797;
    min-width:15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9B55FF;
    border-radius:15px ;cursor: default;
}
.dash_1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal;
    min-width: 100vw;
    min-height: 100vh;
    margin-left: 20px;
    gap:5px;
    padding: 10px;
    flex: 1;
    
}
.dash_body{
    gap:10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 30px;
    

}
.dash_head{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 40px;
    padding: 10px;
}
.dash_head p{
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    
}
.dash_up{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: stretch;
    gap:80px;
    margin: 10px;
    flex-wrap: wrap;
    
    
}
.dash_time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap:5px;
    background-color: #9B55FF;
    min-width: 40vw;
    border-radius: 20px;
    min-height: 15vh;
}
.dash_t1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dash_t1 p{
font-family: 'Times New Roman', Times, serif;
font-size:large;
font-size: 25px;
cursor: default;

}
.dash_t2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dash_t2 p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    cursor: default;
}

.dash_notifications{
    display: flex;
    flex-direction: column;
    gap:25px;
  
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.dash_n1{
     border-radius: 15px;
    display: flex;
    flex-direction: row;
    gap:15px;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    min-width: 20vw;
    min-height: 10vh;
    padding: 5px;
}
.dash_n2{
    padding: 5px;
     border-radius: 15px;
    min-height: 10vh;
    display: flex;
    min-width: 20vw;
    flex-direction: row;
    gap:25px;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    
}
.dash_nt{
    display:flex;
    align-items: center;
    justify-content: center;
}
.dash_nt p{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
.dash_image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash_image img{
    width:30px;
    height: 30px;
    object-fit: contain;
}
.dash_down{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:80px;
    /* margin-bottom: 8px; */
    margin: 10px;
    flex: 1;
    flex-wrap: wrap;
}
.dash_alerts{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 40vw;
    gap:5px;
    border-radius: 20px;
    
}
.dash_title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash_title p{
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight: bold;
    cursor:default;
}
.dash_view{
    display: flex;
    flex-direction: row;
    gap:35px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}
.dash_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #BBBBBB;
    border-radius: 10px;
    min-width:20vw ;
    cursor:pointer;
    margin-bottom: 20px;
    gap:15px;
    padding: 15px;
}
.data_body{
    align-items: center;
    justify-content: left;
    
    display: flex;
    background-color: #979797;
    min-width:20vw;
    border-radius: 15px;
    
    
}
.data_body p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 15px;
    
}
.dash_click{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    width:10vw;
    color:white
    /* flex:1; */
}
.dash_btn_alerts{
    display: flex;
    justify-content: center;
    align-items: center;

}
.dash_tasks{
    display: flex;
    flex-direction: column;
    gap:5px;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 20px; 
    padding: 10px;
    width:20vw;
}
.dash_btn_tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    min-width: 15vw;
    border-radius: 10px;margin-top: 10px;
   
}
.dash_body{
    background-color:  #BBBBBB;
    min-width: 15vw;
    border-radius: 5px;
    
}
.dash_list{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
    min-width: 10vw;
}
.dash_body p{
    font-family: 'Times New Roman', Times, serif;
    justify-content: left;
}